// Подсвечиваем задачи
.recode-task-highlight {
	border: 2px solid #2d73e7 !important;
}

.task-form.recode-task-improve-buttons .results-block {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 15px;
	width: 100%;
	padding: 0px !important;

	@media (max-width: 992px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 576px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.task-form .results-block .btn,
.task-form .results-block .make-delay-btn {
	text-transform: uppercase;
}

.task-form .results-block .btn {
	border-radius: 6px !important;
}

.task-form.recode-task-improve-buttons .results-block .make-delay-btn {
	display: inline-block !important;
	padding: 6px 12px !important;
	margin: 0 !important;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	user-select: none;
	background-image: none;
	background-color: #337ab7;
	color: #ffffff;
	border: 1px solid transparent;
	border-radius: 6px;

	&:hover {
		background-color: #336188;
	}
}

.task-form.recode-task-improve-buttons [data-field='comment'] {
	margin-bottom: 15px;
}

// Расположение кнопок
.task-form.recode-task-improve-buttons .results-block .btn-success {
	order: 1;
}

.task-form.recode-task-improve-buttons .results-block .btn-danger {
	order: 2;
}

.task-form.recode-task-improve-buttons .results-block .btn-warning {
	order: 3;
}

.task-form.recode-task-improve-buttons .results-block .make-delay-btn {
	order: 4;
}

// Поле "Комментарий менеджера" на 100%
.task-form [data-field='comment'] {
	width: 100%;
}

// Поле "Укажи причину отказа"
.task-form .cancel-reason {
	max-width: none !important;
	border: 1px solid #ffc5da;
	border-radius: 10px;

	[name='ChangeStatusOperation[cancel_reason_id]'] {
		width: 100%;
	}
}

// Убираем возможность создавать новые группы
.task-form .group-tree-select {
	display: none !important;
}

// Скрываем мусор в задачах
.task-form.recode-task-hide-trash {
	div:has(> .btn-take-task-link),
	.btn-take-task-link,
	.field-description-block {
		display: none !important;
	}
}

// Скрываем кнопку "Отложить в задачах"
.task-form.recode-task-hide-delay-btn .results-block .make-delay-btn {
	display: none !important;
}
